<link href="~/Css/bootstrap-select.css" rel="stylesheet" />
@{
    ViewBag.Title = "_Medico";
}

@model IEnumerable<SaudeComVoce.Models.EspecialidadeViewModel>

<style>
    .form-row{
        margin: 0!important;
    }
</style>

<div class="modal fade" id="autonomo" tabindex="-1" role="dialog" aria-labelledby="registroTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Médico Autônomo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body body-others">
                <form name="form1" id="form1">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="nome">Nome completo</label>
                            <input type="text" class="form-control" id="nome">
                            <span class="off" id="lblNome">*Obrigatório</span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="cpf">CPF</label>
                            <input type="text" class="form-control" id="cpf" onBlur="ValidarCPF(form1.cpf);" onKeyPress="MascaraCPF(form1.cpf);" maxlength="14">
                            <span class="off" id="lblCpf">*Obrigatório</span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="dataNascimento">Data de nascimento</label>
                            <input type="date" class="form-control" id="dataNascimento">
                            <span style="color:transparent" id="lblData">*Obrigatório</span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="crm">CRM</label>
                            <input type="text" class="form-control" id="crm" maxlength="7">
                            <span class="off" id="lblCrm">*Obrigatório</span>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="cmbUf">UF</label>
                            <select class="form-control chosen-select" id="cmbUf">
                                <option value="Acre">AC</option>
                                <option value="Alagoas">AL</option>
                                <option value="Amapá">AP</option>
                                <option value="Amazonas">AM</option>
                                <option value="Bahia">BA</option>
                                <option value="Ceará">CE</option>
                                <option value="Distrito Federal">DF</option>
                                <option value="Espírito Santo">ES</option>
                                <option value="Goiás">GO</option>
                                <option value="Maranhão">MA</option>
                                <option value="Mato Grosso">MT</option>
                                <option value="Mato Grosso do Sul">MS</option>
                                <option value="Minas Gerais">MG</option>
                                <option value="Pará">PA</option>
                                <option value="Paraíba">PB</option>
                                <option value="Paraná">PR</option>
                                <option value="Pernambuco">PE</option>
                                <option value="Piauí">PI</option>
                                <option value="Rio de Janeiro">RJ</option>
                                <option value="Rio Grande do Norte">RN</option>
                                <option value="Rio Grande do Sul">RS</option>
                                <option value="Rondônia">RO</option>
                                <option value="Roraima">RR</option>
                                <option value="Santa Catarina">SC</option>
                                <option value="São Paulo">SP</option>
                                <option value="Sergipe">SE</option>
                                <option value="Tocantins">TO</option>
                            </select>
                            <span class="off" id="lblUfCrm">*Obrigatório</span>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="cmbEspecialidade">Especialidade</label>
                            <select id="cmbEspecialidade" class="form-control chosen-select">
                                <option selected>Escolha uma especialidade...</option>
                                @foreach (var I in Model)
                                {
                                    <option value="@I.ID">@I.Nome</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="clinicas">Clínicas</label>
                            <select class="form-control selectpicker" id="clinicas" multiple>
                                <option id="0" value="0">Não possui clínica</option>
                                @foreach (var item in TempData["Clinicas"] as IEnumerable<SaudeComVc_Home.Models.EmpresasViewModel>)
                                {
                                    <option id="@item.ID" value="@item.ID">@item.Nome</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="telefone">Telefone</label>
                            <input type="text" class="form-control" id="telefone" onKeyPress="TelMask();" maxlength="14">
                            <span class="off" id="lblTelefone">*Obrigatório</span><br>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="cep">CEP</label>
                            <input type="text" class="form-control" id="cep" onfocusout="preencherEndereco($('#cep').val())" onKeyPress="MascaraCep(form1.cep);" maxlength="9">
                            <span class="off" id="lblCep">*Obrigatório</span>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="local">Endereço</label>
                            <input type="text" class="form-control" id="local" readonly>
                            <span class="off" id="lblLocal">*Obrigatório</span>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="numero">Número</label>
                            <input type="number" class="form-control" id="numero" onfocusout="preencherEndereco($('#cep').val())">
                            <span class="off" id="lblNumero">*Obrigatório</span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email">E-mail</label>
                            <input type="email" class="form-control" id="email" onfocusout="validarEmail()">
                            <span class="off" id="lblEmail">*Obrigatório</span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="confirmarEmail">Confirmar E-mail</label>
                            <input type="email" class="form-control" id="confirmarEmail" onfocusout="validarCEmail()">
                            <span class="off" id="lblConfirmarEmail">*Obrigatório</span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="senha">Senha</label>
                            <input type="password" class="form-control" id="senha">
                            <span class="off" id="lblSenha">*Obrigatório</span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="confirmarSenha">Confirmar senha</label>
                            <input type="password" class="form-control" id="confirmarSenha">
                            <span class="off" id="lblConfirmarSenha">*Obrigatório</span>
                        </div>

                        <span style="color:green" id="lblSpan" class="pull-right fade">Cadastro realizado com sucesso</span>
                        <span class="off pull-left" id="lblErro"></span>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="senha">Dica de senha</label>
                            <input type="text" class="form-control" id="dicaSenha">
                            <!-- <span class="off" id="lblSenha">*Obrigatório</span> -->
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="defaut-btn-back" onClick="carregaModalLista()">Voltar</a>
                <a href="#" class="defaut-btn-gradient" onclick="cadastrarMedico()">Cadastrar</a>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/plugins/bootstrap-select.min.js"></script>
<script>
    if ($(".selectpicker").length != 0) {
        $(".selectpicker").selectpicker();
    }


</script>
<script>
    function verdados() {
        console.log($('.selectpicker').val());
    }
</script>