
@model SaudeComVc_Home.Models.WhiteLabelViewModel


@Html.HiddenFor(w => w.IdMedico, new { id = "medicoId" })
@Html.HiddenFor(w => w.Nome, new { id = "medicoNome" })
<section id="section-ficha-paciente-medico-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 text-center">
                @if (Model.Pagina != null && Model.Pagina.Banner != null)
                {
                    <img src="data:image/png;base64,@Convert.ToBase64String(Model.Pagina.Banner)" class="img-fluid img-doctor" />
                }
                else
                {
                    <img src="~/assets-saude/images/doctor-01.jpg" class="img-fluid img-doctor" />
                }
                <div class="info-doctor">
                    @if (!string.IsNullOrEmpty(Model.Nome))
                    {
                        <h4 class="title">@Model.Nome</h4>
                    }
                    else
                    {
                        <h4 class="title">Dr. Felipe Henrique</h4>
                    }
                    @if (!string.IsNullOrEmpty(Model.Medico.CRM))
                    {
                        <p class="m-0">CRM - @Model.Medico.CRM</p>
                    }
                    else
                    {
                        <p class="m-0">CRO - 10345030</p>
                    }
                    @if (Model.Vinculo != null && Model.Vinculo.IdPaciente > 0 && Model.Vinculo.MedicoId > 0)
                    {
                        <a class="btn btn-primary rounded" href="/Chat/Index"><i class="glyphicon glyphicon-comment"></i> Enviar Mensagem</a>
                    }
                    <a onclick="WhatsControll(@Model.Medico.CodigoExterno)" href="#" class="defaut-btn-gradient -btn-break text-white"><i class="flaticon-whatsapp"></i> &nbsp;Agende sua consulta</a>
                </div>
            </div>

            <div class="col-lg-9">
                <div class="description-doctor">
                    <h1 class="title">Dados Profissionais</h1>
                    @if (Model.Pagina != null && !string.IsNullOrEmpty(Model.Pagina.Apresentacao))
                    {
                        @Html.Raw(Model.Pagina.Apresentacao.Replace("\r\n", "<br />"))
                    }
                    else
                    {
                        <p>
                            But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter conseq.
                            uences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasurte. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a .
                        </p>

                        <p>uences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasurte. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a .</p>
                    }

                    @if (TempData["curriculo"] != null)
                    {
                        <br />
                        <a href="@Url.Action("Gerar", "Curriculo", new { codExterno = Model.Pagina.CodigoExterno })" class="title mt-4">Currículo<i class="fas fa-file-download"></i></a>
                    }
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h1 class="title-photo mt-4">PORTFÓLIO</h1>
            </div>
        </div>

        <div class="row popup-gallery">
            @if (Model.Galeria != null && Model.Galeria.Count() > 0)
            {
                foreach (var item in Model.Galeria)
                {
                    <div class="col-lg-4">
                        <a href="data:image/png;base64,@Convert.ToBase64String(item.Arquivo)" title="Clínica">
                            <img src="data:image/png;base64,@Convert.ToBase64String(item.Arquivo)" class="img-fluid">
                        </a>
                    </div>
                }
            }
            else
            {
                <div class="col-lg-4">
                    <a href="~/assets-saude/images/space-01.jpg" title="Clínica">
                        <img src="~/assets-saude/images/space-01.jpg" class="img-fluid">
                    </a>
                </div>

                <div class="col-lg-4">
                    <a href="~/assets-saude/images/space-01.jpg" title="Clínica">
                        <img src="~/assets-saude/images/space-01.jpg" class="img-fluid">
                    </a>
                </div>

                <div class="col-lg-4">
                    <a href="~/assets-saude/images/space-01.jpg" title="Clínica">
                        <img src="~/assets-saude/images/space-01.jpg" class="img-fluid">
                    </a>
                </div>
            }
        </div>

        <div class="row">
            <div class="col-lg-8 align-self-center mt-5">
                <h3 class="title-dynamic -title"><span class="text-book">Fique por dentro de tudo</span><br>que há de novo no mundo da medicina</h3>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-12">
                <div class="card-deck">
                    @if (Model.Noticias != null && Model.Noticias.Count() > 0)
                    {
                        foreach (var item in Model.Noticias)
                        {
                            <a href="/Noticias/Index/@item.ID">
                                <div class="col-md-3">
                                    <div class="card">
                                        <img class="card-img-top" src="data:image/@item.Midia.Extensao.Replace(".", "");base64,@Convert.ToBase64String(item.Midia.Arquivo)" height="250" />
                                        <div class="card-body">
                                            <ul class="list-unstyled list-inline m-0">
                                                <li class="list-inline-item"><i class="flaticon-calendar-1"></i> @item.DataCriacao</li>
                                            </ul>
                                            <h5 class="title-dynamic text-gradient m-0">@item.Nome</h5>
                                            <p class="card-text">@item.Descricao</p>
                                            <a href="#" class="btn-read-more">Continuar lendo <i class="flaticon-right-arrow"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        }
                    }
                    else
                    {
                        <div class="card">
                            <img class="card-img-top" src="~/assets-saude/images/image-news.jpg" />
                            <div class="card-body">
                                <ul class="list-unstyled list-inline m-0">
                                    <li class="list-inline-item"><i class="flaticon-calendar-1"></i> 25/05/2019</li>
                                    <li class="list-inline-item">135 visualizações</li>
                                </ul>
                                <h5 class="title-dynamic text-gradient m-0">Lorem ipsum dolor sit amet, consectetur!</h5>
                                <p class="card-text">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete accoun. </p>
                                <a href="#" class="btn-read-more">Continuar lendo <i class="flaticon-right-arrow"></i></a>
                            </div>
                        </div>

                        <div class="card">
                            <img class="card-img-top" src="~/assets-saude/images/image-news.jpg" />
                            <div class="card-body">
                                <ul class="list-unstyled list-inline m-0">
                                    <li class="list-inline-item"><i class="flaticon-calendar-1"></i> 25/05/2019</li>
                                    <li class="list-inline-item">135 visualizações</li>
                                </ul>
                                <h5 class="title-dynamic text-gradient m-0">Lorem ipsum dolor sit amet, consectetur!</h5>
                                <p class="card-text">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete accoun. </p>
                                <a href="#" class="btn-read-more">Continuar lendo <i class="flaticon-right-arrow"></i></a>
                            </div>
                        </div>

                        <div class="card">
                            <img class="card-img-top" src="~/assets-saude/images/image-news.jpg" />
                            <div class="card-body">
                                <ul class="list-unstyled list-inline m-0">
                                    <li class="list-inline-item"><i class="flaticon-calendar-1"></i> 25/05/2019</li>
                                    <li class="list-inline-item">135 visualizações</li>
                                </ul>
                                <h5 class="title-dynamic -title text-gradient m-0">Lorem ipsum dolor sit amet, consectetur!</h5>
                                <p class="card-text">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete accoun. </p>
                                <a href="#" class="btn-read-more">Continuar lendo <i class="flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                    }
                </div>

                <a href="@Url.Action("NoticiasMedico", "Noticias", new { idMedico = Model.Medico.CodigoExterno })" class="defaut-btn-gradient -btn-break"><span class="line-button">Ver todas as notícias</a>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.popup-gallery').magnificPopup({
                delegate: 'a',
                type: 'image',
                tLoading: 'Carregando Imagem #%curr%...',
                mainClass: 'mfp-img-mobile',
                gallery: {
                    enabled: true,
                    navigateByImgClick: true,
                    preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
                },
                image: {
                    tError: '<a href="%url%">The image #%curr%</a> Imagem não carregada.',
                    titleSrc: function (item) {
                        return item.el.attr('title') + '<small>Por Gesso Rochdale</small>';
                    }
                }
            });
        });
    </script>
    <script>
        function WhatsControll(id) {
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                url: "/WhatsControll/WhatsControll?idMedico=" + id,
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    console.log(response);
                    if (response != null) {
                        //var nome = "teste";
                        window.location.href = "https://api.whatsapp.com/send?phone=5511977145322&text=Nome:%20" + response.Nome + "%0D%0AMédico%20:%20" + response.NomeMedico + "%0D%0AConvênio%20:%20" + response.Convenio + "%0D%0A=====================";
                    }
                }
            });

        }
    </script>
}
