@model IEnumerable<SaudeComVoce.Models.MedicoViewModel>

<div class=" modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div>Selecione </div>
        </div>
        <div class="modal-body">
            <div id="listarMedicos">
                <table id="listagemTable" class="display table" style="width:100%">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">Nome</th>
                            <th class="text-center">CRM</th>
                            <th class="text-center">E-mail</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var medico in Model)
                        {
                            if (medico.Ativo)
                            {

                                <tr class="text-center">
                                    <td data-id="@medico.CodigoExterno">@medico.ID</td>
                                    <td data-nome="@medico.Nome">@medico.Nome</td>
                                    <td data-crm="@medico.CRM">@medico.CRM</td>
                                    <td>@medico.Login</td>

                                    <td class="td-actions text-right">
                                        <a onclick="getForm(@medico.IdPerfil, @medico.ID)" href="#"
                                           rel="tooltip" title="" class="btn btnAcao btn-success btn-link btn-xs" data-original-title="Editar">
                                            <i class="nc-icon nc-credit-card"></i>
                                        </a>
                                    </td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>


            </div>
        </div>
        <div class="modal-footer">
            <button type="button" id="btnSelecionar" class="btn btn-danger" data-dismiss="modal">Selecionar</button>

            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
    </div>

    <input type="hidden" id="idMedico" value="0" />
    <input type="hidden" id="nomeMedico" />
    <input type="hidden" id="crmMedico" />


</div>

<script>

    $('#btnSelecionar').hide();

    $("tbody tr").click(function () {

        $('.warning').removeClass('warning');
        $('#btnSelecionar').fadeOut();

        $(this).addClass("warning");
        $('#idMedico').val($(this).find('td[data-id]').data("id"));
        //$('#nomeMedico').val($(this).find('td[data-nome]').data("nome"));
        //$('#crmMedico').val($(this).find('td[data-crm]').data("crm"));

        $('#btnSelecionar').fadeIn();

        //var product = $('.p', this).html();
        //var infRate = $('.i', this).html();
        //var note = $('.n', this).html();
        //alert(product + ',' + infRate + ',' + note);
    });

    $('#btnSelecionar').click(function () {

        //$('#idMedicoSelecionado').val($('#idMedico').val());
        //console.log($('#idMedicoSelecionado').val());

        //$('#nomeMedicoSelecionado').val($('#nomeMedico').val());
        //console.log($('#nomeMedicoSelecionado').val());

        //$('#crmMedicoSelecionado').val($('#crmMedico').val());
        //console.log($('#crmMedicoSelecionado').val());

        //$('#CodigoExterno').val($('#idMedico').val());
        //console.log($('#CodigoExterno').val());
        $('#CodigoExterno').val($('#idMedico').val());

        $('#tbMedicoSelecionado').fadeIn();
       popoulamedicoResponsavel();

    });
</script>